<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10.0.4/swiper-bundle.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/thanhtoan.css">
</head>

<body>
    <header>
        <div class="gradien"></div>
        <div class="nav container">
            <a href="" class="logo"><img src="./image/white-2018.png" alt=""></a>

            <div class="rights">
                <div class="right">
                    <div class="search">
                        <input type="search" name="" id="search-input" placeholder="Search Movie">
                        <i class='bx bx-search'></i>
                    </div>
                    <a href="#" class="language">
                        <p>
                            EN
                        </p>
                    </a>
                    <a href="#" class="user">
                        <img src="../asmjava6/img/user.jpg" alt="" class="user-img">
                    </a>
                </div>

                <div class="navbar">
                    <a href="#" class="nav-home"><i class='bx bx-home-heart'></i></a>
                    <div class="menu">
                        <ul>
                            <li class="start"><a href="./index.html" class="nav-link">Phim</a></li>
                            <li><a href="./lichchieu.html" class="nav-link">Lịch chiếu</a></li>
                            <li><a href="" class="nav-link">Rạp và giá</a></li>
                            <li><a href="" class="nav-link">Khuyến mãi</a></li>
                            <li><a href="" class="nav-link">Hỏi và đáp</a></li>
                            <li><a href="" class="nav-link">Tin tức</a></li>
                            <li> <a href="" class="nav-link">Giới thiệu</a></li>
                            <li class="end"><a href="" class="nav-link">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <img src="./image/bg-body.png" alt="" class="main-header">
    <div class="bill">
        <div class="bill-cinema">
            <h2>Cinstar Quốc Thanh</h2>
        </div>
        <div class="doc-bill">
            <div class="doc-bill-detail">
                <div class="doc-text">
                    <i>Xin cảm ơn quý khách đã đến với Cinerstar!</i><br>
                    <i>Xin quý khách vui lòng kiểm tra lại thông tin đặt vé</i>
                </div>
                <div class="doc-detail">
                    <img src="./image/film/ta-chu-cam-poster.jpg" alt="">
                    <div class="information-detail">
                        <h3>Tà chú cấm(T18)</h3>
                        <h4>Ngày chiếu: </h4>
                        <h4>Suất chiếu: </h4>
                    </div>
                </div>
                <div class="table-detail">
                    <table>
                        <thead>
                            <tr style="text-align: center;">
                                <th style="width: 320px;">Ghế</th>
                                <th>Giá vé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">A01</td>
                                <td style="text-align: center;">45.000 đ</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="margin-top: 10px;">
                    <h2 style="text-align: end; color: black; margin-top: 10px; margin-right: 50px;">Tổng tiền: 45.000 đ
                    </h2>
                    <input type="checkbox">Tôi đảm bảo mua vé phim này đúng độ tuổi quy định<br>
                    <input type="radio" name="qt" value="a">Quốc tế
                    <div class="pay-qt">
                        <img src="./image/payment-visa.png" alt="">
                        <img src="./image/payment-mastercard.png" alt="">
                    </div><br>
                    <input type="radio" name="nd" value="s">Nội địa
                    <div class="pay-qt">
                        <img src="./image/pay_02.jpg" alt="">
                    </div>
                    <input type="radio" name="zalopay">Ví ZaloPay<br>
                    <input type="radio" name="momo">Momo
                    <div class="pay-momo">
                        <img src="./image/momo.jpg" alt="">
                    </div>
                    <div class="table-name">
                        <h3>Vui lòng nhập họ tên, điện thoại, email</h3>
                        <input type="text" placeholder="Họ tên"><br>
                        <input type="email" placeholder="Email"><br>
                        <input type="text" placeholder="Số điện thoại">
                    </div>
                </div>
                <div class="btn-pay">
                    <div class="btn-pay-pre">
                        <a href="">Quay lại</a>
                    </div>
                    <div class="btn-pay-pre">
                        <a href="">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>